{%extends './navbase.html'%}
{%block content%}
{%load static%}
    <div class="container">
        <h1>Welcome {{user.first_name}}</h1>
        <div class="recipe-list">
            <div class="generator">
                <a href="/add_recipe"><button type='button' class="btn btn-dark">Add Recipe</button></a>
            </div><br>
            <table class="table table-success table-dark">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="vertical-align: middle;">
                        <td>Chicken Alfredo</td>
                        <td><img src="{%static 'img/login_image.jpg'%}" alt="temp" width="150px"></td>
                        <td>
                            <a href="#"><button type="button" class="btn btn-light" style="margin-right: 5px;">View</button></a>
                            <a href="#"><button type="button" class="btn btn-light">Delete</button></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="generator">
            <a href="#"><button type="button" class="btn btn-dark">Random Recipe</button></a>
        </div>
    </div>
{%endblock%}
