*{
    margin: 0px auto;
}

.container-md{
    text-align: center;
}
.form_entry{
    text-align: right;
    border: 1px solid black;
    padding: 30px;
    
}

.content{
    display: flex;
    margin-top: 70px;
}